django~=5.2.6
djangorestframework

# Testing dependencies
coverage
pytest-django
pytest
pytest-cov

# Code quality
flake8
black
isort

# Security
bandit
safety
selenium~=4.35.0
webdriver-manager~=4.0.2
requests~=2.32.5