name: E2E Tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage pytest-django selenium webdriver-manager

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1
      with:
        chrome-version: stable

    - name: Run migrations
      working-directory: ./todoapp
      run: |
        python manage.py makemigrations
        python manage.py migrate

    - name: Run E2E tests
      working-directory: ./todoapp
      run: |
        coverage run --source='.' manage.py test accounts.test_accounts_live_server --verbosity=2 || exit 1
        coverage report --show-missing || true