name: Unit and Integration Tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage pytest-django

    - name: Run migrations
      working-directory: ./todoapp
      run: |
        python manage.py makemigrations
        python manage.py migrate

    - name: Run unit and integration tests with coverage
      working-directory: ./todoapp
      run: |
        coverage run --source='.' manage.py test --exclude-tag=e2e --verbosity=2 || exit 1
        coverage report --show-missing || true

    - name: Run registration tests
      working-directory: ./todoapp
      run: |
        python test_registration.py || exit 1